$LIGHT: #f1f1f1;
$DARK: #1a0826;
$GOLD: #bdd836;
$FontColor1: #36c;
$FontColor2: #5c85d6;
$FontColor: #24478f;
$ExtraLargeFont: 12vh;
$LargeFont: 4vh;
$SmallFont: 3vh;

@font-face {
  font-family: 'chelsea4';
  src: url("../fonts/Chelsea.ttf") format("truetype");
}

@font-face {
  font-family: 'neutra';
  src: url('../fonts/NeutraText-Book.otf');
}

html {
  background: url("../img/vector_logo.svg"), url("../img/prettyPaint.jpg");
  background-size: cover, cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed;
}

main {
  width: 100%;
  // height: 95vh;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "heading"
    "countdown"
    // "signup"
    // "registrars"
    "ContactInformation";
  font-family: 'chelsea4', sans-serif;
  color: $FontColor;
  min-height: 100vh;
}

#Toimikunta {
  text-align: center;
  font-size: $SmallFont;
}

.ContactInformation {
  margin: 0 auto;
  grid-area: ContactInformation;
  // width: 100%;
  font-size: $SmallFont;
  font-family: 'neutra', sans-serif;
  text-align: center;
}

// table {
//   width: 100%;
// }

.Title {
  text-align: center;
  padding-top: 5vh;
  font-size: $ExtraLargeFont;
  letter-spacing: 15px;
}

.Heading {
  grid-area: heading;
  font-size: $LargeFont;
  text-align: center;
  line-height: 20%;
  letter-spacing: 4px;
}

.SignupForm {
  grid-area: signup;
}

.Signup {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.Signup input {
  border-radius: 5px;
}

.RegisteredList {
  grid-area: registrars;
}

.Countdown {
  grid-area: countdown;
  text-align: center;
  font-size: $LargeFont;
  // height: 50%;
}

.GoogleForms {
  align-content: center;
}
