$LIGHT: #f1f1f1;
$DARK: #1a0826;
$GOLD: #bdd836;
$FontColor1: #36c;
$FontColor2: #5c85d6;
$FontColor: #24478f;

@font-face {
  font-family: 'chelsea4';
  src: url("../fonts/Chelsea.ttf") format("truetype");
}

.dark {
  color: $DARK;
}

.gold {
  color: $GOLD;
}

html {
  // height: 100%;
  background: url("../img/vector_logo.svg"), url("../img/prettyPaint.jpg");
  background-size: cover, cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
}

main {
  width: 100%;
  // height: 95vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "heading"
    "countdown"
    // "signup"
    // "registrars"
    "ContactInformation";
  font-family: 'chelsea4', sans-serif;
  color: $FontColor;
}

.ContactInformation {
  margin: 0 auto;
  grid-area: ContactInformation;
}

.Title {
  text-align: center;
}

.Heading {
  grid-area: heading;
  font-size: 5vw;
}

.SignupForm {
  grid-area: signup;
}

.Signup {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.Signup input {
  border-radius: 5px;
}

.RegisteredList {
  grid-area: registrars;
}

.Countdown {
  grid-area: countdown;
  text-align: center;
  font-size: 5vw;
}
