$LIGHT: #f1f1f1;
$DARK: #1a0826;
$GOLD: #bdd836;

.dark {
  color: $DARK;
}

.gold {
  color: $GOLD;
}

html {
  height: 100%;
  background: url("../img/vector\ logo.svg"), url("../img/prettyPaint.jpg");
  background-size: auto, cover;
  background-position: top, center;
}

main {
  width: 100%;
  height: 95vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "heading"
    "countdown"
    "signup"
    "registrars";
  font-family: 'Oranienbaum', serif;
}

.Title {
  text-align: center;
}

.Heading {
  grid-area: heading;
  font-size: xx-large;
}

.SignupForm {
  grid-area: signup;
}

.Signup {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.Signup input {
  border-radius: 5px;
}

.RegisteredList {
  grid-area: registrars;
}

.Countdown {
  grid-area: countdown;
  text-align: center;
}
